@font-face {
  font-family: "UwU";
  src: url(Ayuma2yk.ttf);
}

body {
  background-image: Url("https://wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/97a8c4a3-0a8a-4fd4-a01c-98ba3cca5015/dgfo8dd-4f6a94a1-a2df-4a16-819e-a44c9c83eade.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsImV4cCI6MTY5OTcyNDU2MSwiaWF0IjoxNjk5NzAyOTUxLCJqdGkiOiI2NTRmNjhiMTM5MjhiIiwib2JqIjpbW3sicGF0aCI6IlwvZlwvOTdhOGM0YTMtMGE4YS00ZmQ0LWEwMWMtOThiYTNjY2E1MDE1XC9kZ2ZvOGRkLTRmNmE5NGExLWEyZGYtNGExNi04MTllLWE0NGM5YzgzZWFkZS5qcGcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.sjqtbryUwyxi7f7RU2wSmrryrsn2a9cBO3Enm2sa1l0");
  background-repeat: repeat;
}



/* headers */

h1 {
    text-align: center; 
    color:#983D53;
    font-family: UwU;
	font-size: 60px;
	padding-top: 100px;
	margin-top: 100px,;
	margin-bottom: 10px;
    
}

h2 {
    text-align: left; 
    color:#983D53;
    font-family: UwU;
	font-size: 30px;
	margin-left: 20px;
	margin-top: 30px;
	margin-bottom: 20px;
    
}

h3 {
	text-align: left; 
    color:#bf6278;
    font-family: UwU;
	font-size: 20px;
	font-style: italic;
	margin-left: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}

/* texts */ 

p {
    font-family: UwU; 
	font-size: 20px;
    color:#983D53;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 0px;
	padding-top: 0px;
}



/* images */

.logo-image{ 
	position:  absolute; 
	height: 80px; 
	left: 35px; 
	width: auto;
	padding-top: 10px;
}

.imageA {
  max-width: 100%;
  height: 90%;	
  width: 90%;
  display: block;
  margin-left: 20px;
  margin-right: 20px;
}

/* navigation bar */

ul {
	list-style-type: none;
	margin: auto;
	width: 98%;
	padding: 15px;
	overflow: hidden;
	background-color: #DEACAE;
}

li {
	float: right;
}

li a {
  display: block;
  font-family: UwU;
  font-size: 40px;
  color: #983D53;
  text-align: center;
  margin: 0 80px;
  padding: 14px 16px;
  text-decoration: none;
}

/* Divbox */

.flex-container1 {
  display: flex;
  float: left;
  width: 20%;
  margin-left: 20px;
  margin-right: 20px;
  flex-direction: column;
  justify-content: center;
  align-items; center;
  background-color: #F3E1E1;
}

.flex-container1 > div {
  background-color: #F3E1E1;
  font-size: 30px;
}

.flex-container2 {
  display: flex;
  float: left;
  width: 20%;
  margin-left: 20px;
  margin-right: 20px;
  flex-direction: column;
  justify-content: center;
  align-items; center;
  background-color: #F3E1E1;
}

.flex-container2 > div {
  background-color: #F3E1E1;
  font-size: 30px;
}

.flex-container3 {
  display: flex;
  float: left;
  width: 20%;
  margin-left: 20px;
  margin-right: 20px;
  flex-direction: column;
  justify-content: center;
  align-items; center;
  background-color: #F3E1E1;
}

.flex-container3 > div {
  background-color: #F3E1E1;
  font-size: 30px;
}